<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>철길 마을</title>

    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/script.js"></script>
</head>

<body>
    <div id="wrap">
        <header id="header">
            <div class="header__logo">
                <h1>철길 마을</h1>
            </div>
            <nav id="header__nav">
                <ul class="main_menu">
                    <li><a href="#">철길마을</a>
                        <ul class="sub_menu none">
                            <li><a href="#">마을 소개</a></li>
                            <li><a href="#">마을의 유래</a></li>
                            <li><a href="#">볼거리</a></li>
                            <li><a href="#">찾아오시는 길</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="main_menu">
                    <li><a href="#">주변 맛집</a>
                        <ul class="sub_menu none">
                            <li><a href="#">빵집</a></li>
                            <li><a href="#">간장게장</a></li>
                            <li><a href="#">중국 음식점</a></li>
                            <li><a href="#">횟집</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="main_menu">
                    <li><a href="#">주변 여행지</a>
                        <ul class="sub_menu none">
                            <li><a href="#">은파 호수공원</a></li>
                            <li><a href="#">초원사진관</a></li>
                            <li><a href="#">월명공원</a></li>
                            <li><a href="#">진포해양공원</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="main_menu">
                    <li><a href="#">도움 마당</a>
                        <ul class="sub_menu none">
                            <li><a href="#">교통정보</a></li>
                            <li><a href="#">주변 주차장</a></li>
                            <li><a href="#">자료실</a></li>
                            <li><a href="#">자료 마당</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <aside id="aside">
            <div class="left_up">
                <div class="banner">
                    <img src="assets/img/banner.jpg" alt="배너 이미지">
                    <div class="banner_text">
                        <h3>기차 여행</h3>
                        <div class="banner_button">예매하기</div>
                    </div>
                </div>
                <div class="info">
                    <div class="info__header">
                        <h2>철길 마을 공지사항</h2>
                        <div>더보기+</div>
                    </div>
                    <ul>
                        <li><a href="#">철길 마을 축제 일정 변경 안내<span>2023.05.04</span></a></li>
                        <li><a href="#">철길 마을 도서관 임시 폐쇄 안내<span>2023.05.04</span></a></li>
                        <li><a href="#">철길 마을 자원봉사자 모집 공고<span>2023.05.04</span></a></li>
                        <li><a href="#">철길 마을 청소 캠페인 안내<span>2023.05.04</span></a></li>
                        <li><a href="#">철길 마을 최신 소식<span>2023.05.04</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="left_middle">
                <div class="img_box">
                    <div class="middle__header">
                        <h2>철길 마을 갤러리</h2>
                        <div>더보기+</div>
                    </div>
                    <div class="middle_img_box">
                        <div class="middle_img">
                            <a href="#"><img src="assets/img/gell01.jpg" alt=""></a>
                            <p>최고의 뷰</p>
                        </div>
                        <div class="middle_img">
                            <a href="#"><img src="assets/img/gell02.jpg" alt=""></a>
                            <p>최고의 뷰</p>
                        </div>
                        <div class="middle_img">
                            <a href="#"><img src="assets/img/gell03.jpg" alt=""></a>
                            <p>최고의 뷰</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left_down">
                <ul>
                    <li><a href="#">사진찍기</a></li>
                </ul>
                <ul>
                    <li><a href="#">분실물</a></li>
                </ul>
                <ul>
                    <li><a href="#">예약하기</a></li>
                </ul>
                <ul>
                    <li><a href="#">전화하기</a></li>
                </ul>
            </div>
        </aside>
        <main id="main">
            <div class="sliderWrap">
                <div class="slider s1"></div>
                <div class="slider s2"></div>
                <div class="slider s3"></div>
            </div>
        </main>
        <footer id="footer">
            <div class="footer__logo">
                <h2>철길마을</h2>
            </div>
            <div class="footer__copyright">
                <div class="copyright__up">
                    <ul>
                        <li><a href="#">개인정보처리방침</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">정보 공개</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">홈페이지 운영지침</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">분실물 확인하기</a></li>
                    </ul>
                </div>
                <div class="copyright__down">
                    15073 전라북도 군산시 군산로 237 (정왕동) 철길 마을 COPYRIGHT(C) ALL RIGHTS RESERVED.
                </div>
            </div>
            <div class="footer__select">
                <label for="철길마을1"></label>
                <select name="ftselect" id="ftselect">
                    <option value="철길마을1">철길마을1</option>
                    <option value="철길마을2">철길마을2</option>
                    <option value="철길마을3">철길마을3</option>
                </select>
            </div>
        </footer>
    </div>

    <script>
        const Mainmenu = document.querySelectorAll(".main_menu");
        console.log(Mainmenu)
    </script>

</body>

</html>