<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text001</title>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="logo"></div>
            <div class="menu__container">
                <ul>
                    <li><a href="">대학소개</a></li>
                    <li><a href="">입학안내</a></li>
                    <li><a href="">정보서비스</a></li>
                </ul>
            </div>
        </header>
        <main id="contents">
            <div class="content_header"></div>
            <div class="content_body">
                <div class="content__text"></div>
                <div class="content__photo"></div>
                <div class="content__go"></div>
            </div>
        </main>
        <footer id="footer">
            <div class="footer__container">
                <ul>
                    <li><a href="">개인정보처리방침</a></li>
                    <li><a href="">정보공개</a></li>
                    <li><a href="">홈페이지 운영지침</a></li>
                </ul>
                <p>15073 경기도 안산시 산기대학로 237(정왕동) 산업대학교 COPYRIGHT(C) ALL RIGHTS RESERVED</p>
            </div>
            <menu class="menu">안양 산업대학교</menu>
        </footer>
    </div>
</body>
</html>