<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- script -->
    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>

    <title>세계의 미술작품</title>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <h2 class="logo"><a href="">세계의 미술작품</a></h2>
            <nav class="nav">
                <ul>
                    <li>
                        <a href="#"><span>소장처벌</span></a>
                        <ul class="submenu">
                            <li><a href="#">한국</a></li>
                            <li><a href="#">프랑스</a></li>
                            <li><a href="#">이탈리아</a></li>
                            <li><a href="#">독일</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">장르별</a>
                        <ul class="submenu">
                            <li><a href="#">회화</a></li>
                            <li><a href="#">판화</a></li>
                            <li><a href="#">공예/고대유물</a></li>
                            <li><a href="#">그 외</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">테마별</a>
                        <ul class="submenu">
                            <li><a href="#">초상화/인물</a></li>
                            <li><a href="#">종교</a></li>
                            <li><a href="#">신화/문학</a></li>
                            <li><a href="#">일상/스포츠</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">시대별</a>
                        <ul class="submenu">
                            <li><a href="#">1900년 이전</a></li>
                            <li><a href="#">1900년대</a></li>
                            <li><a href="#">현대</a></li>
                            <li><a href="#">그 외</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>


        <main id="main">

            <div id="slider">
                <div class="sliderWrap">
                    <div class="slider s1">
                        <a href="#"><img src="img/slide 01.jpg" alt="Just 쇼핑몰"></a>
                    </div>
                    <div class="slider s2">
                        <a href="#"><img src="img/slide 2.jpg" alt="Just 쇼핑몰"></a>
                    </div>
                    <div class="slider s3">
                        <a href="#"><img src="img/slide 3.jpg" alt="Just 쇼핑몰"></a>
                    </div>
                </div>
            </div>
            
            <div class="contents">
                <div class="art_info">
                    <h3>공지사항</h3>
                    <ul>
                        <li class="popup-btn"><a href="#">공지사항</a></li>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">공지사항</a></li>
                    </ul>
                </div>
                <div class="art_gell">
                    <h3>갤러리</h3>
                    <ul>
                        <li><a href="#"><img src="img/gallery 1.jpg" alt=""></a></li>
                        <li><a href="#"><img src="img/gallery 2.jpg" alt=""></a></li>
                        <li><a href="#"><img src="img/gallery 3.jpg" alt=""></a></li>
                    </ul>
                </div>
                <div class="art_banner">
                    <ul>
                        <li><a href="#"><img src="img/banner.jpg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </main>

        <footer id="footer">
            <div class="footer_logo "><a href="">세계의 미술작품</a></div>
            <div class="footer_copy"><a href="">COPYRIGHT 2023</a></div>
            <div class="footer_sns"><a href="">sns</a></div>
        </footer>


        <article class="popup-view">
            <h3>세계의 미술작품</h3>
            <p>
                내용
            </p>
            <a href="#" class="popup-close">닫기</a>
        </article>
    </div>
</body>
</html>