<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/script/script.js"></script>

    <title>조이컨트리클럽</title>
</head>

<body>
    <div id="wrap">
        <header id="header">
            <div class="logo">
                <h2>로고</h2>
            </div>
            <nav id="nav">
                <ul class="main_menu">
                    <li><a href="#">CLUB</a>
                        <ul class="sub_menu none">
                            <li>클럽소개</li>
                            <li>시설안내</li>
                        </ul>
                    </li>
                </ul>
                <ul class="main_menu">
                    <li><a href="#">BOOKIN</a>
                        <ul class="sub_menu none">
                            <li>요금안내</li>
                            <li>예약안내</li>
                            <li>위약안내</li>
                        </ul>
                    </li>
                </ul>
                <ul class="main_menu">
                    <li><a href="#">INFORMATION</a>
                        <ul class="sub_menu none">
                            <li>명예의 전당</li>
                            <li>이벤트</li>
                            <li>자료실</li>
                            <li>포토갤러리</li>
                        </ul>
                    </li>
                </ul>
                <ul class="main_menu">
                    <li><a href="#">COMMUNITY</a>
                        <ul class="sub_menu none">
                            <li>공지사항</li>
                            <li>Q&A</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Header -->

        <main id="main">
            <div class="sliderWrap">
                <div class="slider s1">
                    <img src="assets/img/slider1.jpg" alt="">
                    <p></p>
                </div>
                <div class="slider s2 none">
                    <img src="assets/img/slider2.jpg" alt="">
                    <p>텍스트</p>
                </div>
                <div class="slider s3 none">
                    <img src="assets/img/slider3.jpg" alt="">
                    <p>텍스트</p>
                </div>
            </div>
            <!-- slider -->

            <div class="contents">

                <div class="slider_nav none">
                    <ul>
                        <li><a href="#">배너</a></li>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">겔러리</a></li>
                    </ul>
                </div>

                <div class="banner"><img src="assets/img/banner.jpg" alt=""></div>
                <div class="contents_box">
                    <div class="tab_main">
                        <ul class="info">
                            <h3>공지사항</h3>
                        </ul>
                        <ul class="gell ">
                            <h3>갤러리</h3>
                        </ul>
                    </div>
                    <div class="tab_sub">
                        <ul class="info_sub none">
                            <li>공지사항 내용</li>
                            <li>공지사항 내용</li>
                            <li>공지사항 내용</li>
                            <li>공지사항 내용</li>
                        </ul>
                        <ul class="gell_sub">
                            <li><img src="assets/img/gell1.jpg" alt=""></li>
                            <li><img src="assets/img/gell2.jpg" alt=""></li>
                            <li><img src="assets/img/gell3.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- contents -->
        </main>
        <!-- main -->

        <footer id="footer">
            <div class="footer_logo">
                <h3>로고</h3>
            </div>
            <div class="footer_box">
                <div class="footer_copyright">카피라이트</div>
                <div class="footer_sns">SNS</div>
            </div>
        </footer>
    </div>

    <script>
        const mainMenu = document.querySelectorAll(".main_menu");
        const subMenu = document.querySelectorAll(".sub_menu");

        subMenu.
            mainMenu.addEventListener(("click", () => {
            }))
    </script>
</body>

</html>